body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4 ;
    margin: 0 ;
    padding: 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}
#text{
    text-align: center;
    width: 50%;
}

.slider-for,
.slider-nav {
  width: 70%; /* 任意の幅を指定してください */
  margin: 0 auto; /* 中央寄せする場合 */
}

.slider-for img {
    width: 100%;
    height: auto;
    max-width: 300px; /* 画像の最大幅を指定（適宜変更） */
    max-height: 400px; /* 適宜調整 */
    margin: 0 auto;
}

.slider-nav img {
    width: 100%;
    height: auto;
    max-width: 150px; /* 画像の最大幅を指定（適宜変更） */
    max-height: 200px;
}

.rounded-image {
    border-radius: 8px;
}



#footer {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    margin-top: auto;
    width: 100%;
}
